<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GeekText</title>
</head>
<body>
    <h1>Bookstore</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Number Sold</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.numSold}"></td>
        </tr>
    </table>
</body>
</html>
